@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.font-bodoni {
    font-family: 'Bodoni Moda', serif;
}

.font-cinzel {
    font-family: 'Cinzel Decorative', serif;
}

.text-champagne {
    color: #FAEBD7;
}

.text-goldenrod {
    color: #DAA520;
}

.text-tidewater {
    color: #2F4F4F;
}

.bg-tidewater {
    background-color: #2F4F4F;
}

.bg-goldenrod {
    background-color: #DAA520;
}

.bg-esmeralda {
    background-color: #1a1a1a;
}

.border-goldenrod {
    border-color: #DAA520;
}

